table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.delete-button {
    background-color: #dc3545;
}
.delete-button:hover {
    background-color: #c82333;
}

.sidebar {
    height: 100vh; /* Altura completa */
    position: fixed; /* Fijar en la parte izquierda */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
    padding-top: 1rem;
}
.main-content {
    margin-left: 250px; /* Ajustar margen según el ancho del navbar */
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa; /* Fondo claro */
    border-top: 1px solid #e7e7e7; /* Línea superior */
    padding: 10px 0;
    text-align: center;
}
